.nav {
   position: relative;
   left: 285px;
   
}

.nav li a{
    color:white;
    ont-size:20px;
}
.nav li{
    margin-left:50px;
}
.navbar{
    background-color:#AD8533;
    
}

#home{
     text-decoration:underline;
    font-weight:bold;
font-family: "Dancing Script";}

h2{
    text-decoration:underline;
    font-size:35px;
    font-weight:bold;
    font-family: "Dancing Script";
    color:white;
}