body{
    background-color:#c68c53;
}

h1{
    font-weight: bold;
    font-size: 40px;
    font-style: oblique
    text-decoration: underline;
}

    element.style{
    }
    .slide-image{
        display: block;
        width: 100%;
    }
    
    img {
        max-width:100%;
    }
    
    img{
        border:0;
    }
    
    