body{
    background-color:#7D5226;
}

h1{
    text-decoration:underline;
    font-size:50px;
    font-weight:bold;
    font-family: "Times New Roman", Georgia, Serif;
    color:white;
}

    element.style{
    }
    .slide-image{
        display: block;
        width: 100%;
    }
    
    img {
        max-width:100%;
    }
    
    img{
        border:0;
    }
 
 .btn-info { 
     margin-right: 80px;     
} 
#pic{
    border-style: solid;
    border-color: white;
    border-width: 35px;
}

.nav {
   position: relative;
   left: 285px;
   
}

.nav li a{
    color:white;
    font-size:20px;
}
.nav li{
    margin-left:50px;
}
.navbar{
    background-color:#AD8533;
    
}
